@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticleItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "Master.cshtml";
}

@section Head {
    <meta name="description" content="@Model.Value("metaDescription")" />
    <meta name="keywords" content="@Model.Value("metaKeywords")" />
}

<h2>@Model.Value("title")</h2>

<strong class="d-inline-block mb-2 text-primary">
    @{
        foreach (var tag in @Model.GetProperty("tags").Value<IEnumerable<string>>())
        {
            <span class="badge rounded-pill bg-info">@tag</span>
        }
    }
</strong>

<p>
    @Model.Value("main")
</p>